#ignore executable files for rendering
prepare_data/render/render_scene/sfm_pose
prepare_data/render/render_scene/syn_pose
#ignore prediction files
**/pred/*

# ignore hdf5 data
**/*.h5
# ignore points data
**/*.pts
# ignore points segmentation data
**/*.seg
# ignore points annotations 
**/*.arff
# ignore testing log
**/*.log
# ignore caffemodel
**/*.caffemodel
# ignore model dir
**/*.index
**/*.meta
**/*.data-00000-of-00001
**/checkpoint
# ignore .zip file
**/*.zip
# ignore .tar* file
**/*.tar*
# ignore .pyc file
**/*.pyc
# ignore .swap file
**/*.swp
# ignore .npy 
**/*.npy
# ignore .npz 
**/*.npz
# ignore .pkl 
**/*.pkl
**/*.pickle
# ignore .gz
**/*.gz
# ignore .png
**/*.png
# ignore .jpg
**/*.jpg
**/*.jpeg
# ignore .pgm
**/*.pgm
# ignore .mtl
**/*.mtl
# ignore .obj
**/*.obj
# ignore .ply
**/*.ply
# ignore .tar
**/*.tar
# ignore .pbtxt
**/*.pbtxt
**/*.pb
# ignore .nfs file
**/.nfs*
